nav{
    display: flex;
    justify-content: space-between;
    margin: 40px 80px;
    font-family: Azeret Mono;
    align-items: center;
}

#nav-btn{
    padding: 5px;
    height: 55px;
    width: 200px;
    font-family: Azeret Mono;
    border:1px solid rgb(13, 19, 33) ;
    border-radius: 8px;
    opacity: 0.8;
}

/* banner */
.banner{
    background-image: url(../assets/Hero-bg.png);
    /* width: 1440px;
height: 550px; */
/* margin-left: 40px; */

/* background-size: 100%; */
justify-items: center;

}

.banner-img{
    margin-top: 80px;
    
}

.banner-title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}

.banner-p{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 50px;
}

.banner-btn{
padding: 20px 40px 20px 40px;
border-radius: 8px;
background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 50px;
}

.devlopment{
    margin-top: 50px;
    justify-items: center;
}

.devlopment-why{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

#devmodifications{
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
padding: 150px;

}
.devlopment-p{

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;

}

.coding{
margin-top: 50px;
display: flex;
justify-content: space-around;
padding-left: 80px;
padding-right: 80px;
border-radius: 16px;
padding-bottom: 100px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.do-coding{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.do-coding-img{
padding-top: 40px;
}
.coding-deccription{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
padding-bottom: 50px;
}

.layer-btn{
 padding: 15px 60px 15px 60px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}


.Inspiration{
 padding-top: 100px;
justify-items: center;
}


.ytvideo{
display: flex;
justify-content: center;
align-items: center;
padding: 50px;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 20px;
margin-left: 250px;
margin-right: 250px;
}

.target-title{
display: flex;
justify-content: center;
padding-top: 80px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.items{
padding: 40px;
margin-left: 100px;
margin-right: 100px;
display: flex;
justify-content: space-around;
gap: 40px;
}

.items-a{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
}

.item1{
padding: 50px;
border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
}

.item2{
padding: 50px;
border-radius: 16px;
background: rgba(0, 76, 232, 0.05);

}

.item3{
padding: 50px;
border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
}

.next-target-items{
padding-left: 100px;
}


.next-target{
    
justify-items: center;
}

.react-d{
display: flex;
gap: 80px;
padding-top: 50px;
align-items: center;
padding-bottom: 50px;
    
}

.support{
background-image: url('../assets/handshake.jpg');
background-size: cover;
background-position: center;
height: 400px;
margin: 80px;
border-radius: 16px;
}

.supporth{
padding-top: 50px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.supportp{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.helpsection{
display: flex;
justify-content: center;
gap: 5px; 
}
.helpmeinput{
padding: 15px 120px;
display: flex;
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
justify-items: flex-start;
border-radius: 8px;
}

.btn-primary{
padding: 17px 10px;
display: flex;
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
}

#footer{
background-color: rgba(13, 19, 33, 0.03);
    
}
.footer-part{
display: flex;
justify-content: space-between;
margin-left: 80px;
margin-right: 90px;
align-items: center;  
}